.App {
  text-align: center;
  overflow-x: hidden;
  /* Empêche le débordement horizontal */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  /* Assure que le header ne dépasse pas la largeur de l'écran */
  max-width: 100%;
  /* Empêche le header de dépasser la largeur de l'écran */
  box-sizing: border-box;
  /* Inclut padding et border dans la largeur totale */
}

.App-link {
  color: #61dafb;
}

.info-bulle {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
  word-wrap: break-word;
  /* Empêche le débordement de texte dans les info-bulles */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}